body {
  background-color: powderblue;
  
  
    
  font-family: courier;
  font-size: 200%;
  
}
h3 {


position: relative;



  left: 100px;








  color: blue;
  
  width :800px;
  height :25px;
  
 

  
}

input {

 left: 100px;


position: relative;








    
  color: blue;
  
  width :800px;
  height :70px;
  

  
  font-family: courier;
  font-size: 150%;
    
    
    
    
    
    
    
    
    
}


h2{
  position: relative;
  background : yellow;
  left: 100px;
  width :800px;
 
  font-family: courier;
  font-size: 150%;
    
    
    
    
}




input[type="button"]{
    
    color: red;
    
    
    
    
}
